.wrapper {
	width: 940px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.header {
	height: 206px;
}
.logo {
	float: left;
	width: 500px;
	height: 165px;
	margin-left: 20px;
	margin-top: 5px;
}
.menu {
	height: 54px;
	clear: both;
}
.icons {
	height: 151px;
	background-color: #FFF;
	padding-right: 5px;
	padding-left: 6px;
}
.icon {
	height: 151px;
	float: left;
	width: 230px;
	background-image: url(../images/bg-icon.jpg);
	background-repeat: repeat;
}
.left-box {
	background-color: #FFF;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	bottom: 100%;
	clear: both;
}
.left-box-top {
	background-repeat: no-repeat;
	background-position: 5px top;
	width: 245px;
	background-image: url(../images/bg-left-b.jpg);
	height: 550px;
}
.left-box-down {
	height: 210px;
	background-repeat: no-repeat;
	background-position: 5px;
	margin-bottom: 1px;
}
.middle-box {
	background-color: #84CEE4;
	margin-bottom: 1px;
	width: 687px;
	height: 100%;
	float: right;
	margin-right: 8px;
}
.right-box {
	height: 482px;
	float: left;
	width: 361px;
	background-color: #FFF;
}
.right-box-1 {
	height: 107px;
}
.follow-us {
	height: 52px;
	background-color: #84cfe6;
	margin-left: 5px;
	clear: both;
}
.logos {
	height: 77px;
	clear: both;
	border: 1px solid #86cee4;
	margin-bottom: 2px;
	background-image: url(../images/bg-logos.jpg);
	margin-right: 7px;
	margin-left: 5px;
}
.footer {
	height: 197px;
	background-image: url(../images/bg-footer.jpg);
	margin-right: 7px;
	margin-left: 6px;
	padding-left: 10px;
}
.footer-links {
	width: 182px;
	height: 156px;
	float: left;
}
.copyr {
	height: 38px;
	clear: both;
}
.line-icon {
	float: left;
	width: 2px;
	height: 125px;
	margin-top: 12px;
	background-image: url(../images/line-icon.jpg);
	background-repeat: no-repeat;
}
.right-box-1-txt {
	background-color: #84cfe6;
	width: 206px;
	float: left;
	height: 103px;
	margin-left: 5px;
}
.follow-us-txt {
	float: right;
	width: 108px;
	font-family: tahoma;
	font-size: 18px;
	font-weight: bold;
	height: 20px;
	color: #00354e;
	margin-right: 1px;
}
.icon-follow {
	float: right;
	margin-right: 6px;
}
.line-footer {
	float: left;
	height: 101px;
	width: 1px;
	background-image: url(../images/line-footer.jpg);
	background-repeat: no-repeat;
	margin-top: 30px;
}
.username {
	float: left;
	border: 1px none #1cc1dd;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
	margin-left: 30px;
}
.search22 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
}
.password {
	float: left;
}
.search {
	float: right;
	clear: both;
	width: 400px;
}
.username-input {
	border: 1px solid #19c1dc;
}
.create {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

a.create-link:link {
	color: #ffffff;
	text-decoration: underline;
	font-size: 12px;
	
}
a.create-link:visited {
	color: #ffffff;
	text-decoration: underline;
	font-size: 12px;
	
	
}
a.create-link:hover {
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	
}
.login-icon {
	float: right;
	vertical-align: top;
	margin-top: 15px;
	margin-right: 5px;
}
.search-input {
	float: right;
	margin-right: 22px;
	margin-top: 3px;
	width: 300px;
	height: 30px;
	clear: left;
}
.search-icon {
	float: right;
	margin-top: 3px;
}
.main-link-footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #003;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
}
.sub-link-footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-left: 9px;
}

a.sub-link-footer-click:link {
	color: #006;
	text-decoration: none;
	font-size: 12px;
	
}
a.sub-link-footer-click:visited {
	color: #006;
	text-decoration: none;
	font-size: 12px;
	
	
}
a.sub-link-footer-click:hover {
	color: #006;
	text-decoration: underline;
	font-size: 12px;
	
}
.middle-box-content {
	background-color: #84cee4;
	width: 687px;
	height: 100%;
}
.left-box-top-content {
	height: 168px;
}
.left-box-down-content {
	margin-right: 5px;
	margin-left: 5px;
	height: 100%;
}
.copyright {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: center;
}
.body {
	margin-bottom: 0px;
}
.middle-box-title {
	font-family: verdana;
	font-size: 16px;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
	color: #FFF;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	width: 500px;
	padding-bottom: 5px;
	margin-left: 5px;
}
.middle-box-pic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003;
	text-align: justify;
	padding: 10px;
	float: none;
}
.flash {
	color: #FFF;
}
.left-box-top-title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

.left-box-top-title2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #336;
	font-weight: bold;
	text-align: left;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #336;
	margin-right: 13px;
	margin-left: 10px;
}
.logo-text {
	float: right;
	width: 330px;
	margin-top: 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
}
.middle-box-2 {
	height: auto;
	width: auto;
	background-color: #84CEE4;
}
.testtttttttt {
	height: 100px;
	background-color: #84CEE4;
}
.middle-box2 {
	clear: both;
	border: 1px solid #86cee4;
	margin-bottom: 2px;
	margin-right: 7px;
	margin-left: 245px;
	background-color: #84CEE4;
	padding-bottom: 0px;
	height: 100%;
	width: 687px;
	float: none;
}
.mini-title {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003;
}
.mini-title-wad {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003;
}
.rignt-mini-box {
	float: right;
	width: 50%;
	height: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #003;
	padding-left: 30px;
}
.mini-box2 {
	float: right;
	width: 600px;
	padding-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #006;
	vertical-align: top;
	overflow: auto;
}
.search-txt {
	width: 100px;
	float: right;
	margin-top: 110px;
	margin-right: 200px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: normal;
}

a.guidelines-link:link {
	color: #336;
	text-decoration: none;
	font-size: 11px;
}
a.guidelines-link:visited {
	color: #336;
	text-decoration: none;
	font-size: 11px;
}
a.guidelines-link:hover {
	color: #FFF;
	text-decoration: underline;
	font-size: 11px;
}

a.home-news:link {
	color: #006;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
a.home-news:visited {
	color: #006;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
a.home-news:hover {
	color: #006;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
.pic1 {
	float: left;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
}
.pic2 {
	float: left;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.home-page {
	float: right;
	width: 300px;
	margin-top: 8px;
	margin-left: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
}

a.home-page-click:link {
	color: #FFF;
	text-decoration: none;
	font-size: 11px;
}
a.home-page-click:visited {
	color: #FFF;
	text-decoration: none;
	font-size: 11px;
}
a.home-page-click:hover {
	color: #003;
	text-decoration: underline;
	font-size: 11px;
}
.left-icon {
	width: 55px;
	height: 100px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.title-icon {
	float: left;
	width: 150px;
	height: 40px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003;
	padding-top: 10px;
	padding-left: 10px;
}
.content-icons {
	float: left;
	width: 150px;
	padding-left: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #999;
	height: 60px;
}
.more-icons {
	float: left;
	clear: both;
	width: 160px;
	margin-left: 60px;
}
.under-pdf {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	margin-top: 10px;
	margin-left: 60px;
	float: left;
}
.div-scale {
	background-color: #CCC;
	position: absolute;
	height: 100%;
	bottom: 100%;
}
.pic-a {
	float: none;
	height: auto;
}
.pic-b {
	float: right;
}
.poster-1 {
	float: left;
	width: 50%;
	margin: 5px;
}
.poster-2 {
	width: 280px;
	vertical-align: top;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-left: 15px;
}
.under-pdf2 {
	margin-top: 5px;
	padding-top: 10px;
	float: left;
	margin-left: 60px;
}
.right-join-us {
	float: right;
	margin-top: 10px;
	width: 140px;
}
.countdown {
	width: 250px;
	margin-top: 150px;
	margin-left: 25px;
	float: left;
}
.middle-all {
	margin-right: auto;
	margin-left: auto;
	clear: both;
	background-color: #CCC;
}
.test5555 {
	float: right;
	width: 695px;
	height: 100%;
}
.100 {
	float: none;
	height: 500px;
	width: 100px;
	background-color: #00F;
	clear: none;
}
.sponser-logos {
	width: 200px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
.wad {
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 280px;
	float: left;
	margin-left: 20px;
	border: 2px solid #FFF;
}
.wad2 {
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 280px;
	float: right;
	margin-right: 20px;
	text-align: center;
	border: 2px solid #FFF;
}
.DELTTTTT {
	font-family: "Courier New", Courier, monospace;
	text-decoration: underline;
}
.center-pic {
	text-align: center;
}
.text-home {
	clear: both;
	height: 280px;
	text-align: justify;
}
.dr-pic {
	float: left;
	width: 130px;
	margin-top: 10px;
	margin-right: 5px;
}
.dr-content {
	height: 150px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	margin-top: 10px;
	margin-bottom: 5px;
}
.dr-pic-small {
	text-align: center;
	margin-top: 5px;
	width: 50px;
	margin-left: 70px;
}
.right-dr {
	clear: both;
	float: left;
}
.dr-test {
	height: 60px;
}
.top-dr {
	float: right;
	clear: both;
}
.dr-font {
	font-family: tahoma;
	font-size: 11px;
	color: #503366;
}
.f {
	clear: both;
	float: right;
	width: 687px;
	margin-right: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.205 {
	text-align: center;
	margin-top: 5px;
	height: 10px;
	color: #84CEE4;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9');
	background-color:#ffffff;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	padding:2px 21px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#ffffff');
	background-color:#e9e9e9;
}.myButton:active {
	position:relative;
	top:1px;
}

a.guidelines-link2:link {
	color: #336;
	text-decoration: none;
	font-size: 11px;
}
a.guidelines-link2:visited {
	color: #336;
	text-decoration: none;
	font-size: 11px;
}
a.guidelines-link2:hover {
	color: #000;
	text-decoration: underline;
	font-size: 11px;
}
