.pix_diapo {
	background: #000;
	-moz-box-shadow: 0 3px 6px #000;
	-webkit-box-shadow: 0 3px 6px #000;
	box-shadow: 0 3px 6px #000;
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 740px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0px;
}
.pix_diapo > div {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#pix_prev, #pix_next {
	cursor: pointer;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 1001;
}
#pix_prev {
	background: url(images/diapo/prev.png) no-repeat;
	left: 10px;
}
#pix_next {
	background: url(images/diapo/next.png) no-repeat;
	left: auto!important;
	right: 10px!important;
}
#pix_pag {
	margin: 0 auto;
	position: relative;
	width: 740px;
	z-index: 1002;
}
#pix_commands {
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	margin: 15px 0 0 13px;
	position: relative;
	width: 24px;
}
#pix_play {
	height: 14px;
	left: 0;
	position: absolute;
	top: 0;
	width: 14px;
	background-image: url(images/play.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
#pix_stop {
	height: 11px;
	left: 0;
	position: absolute;
	top: 0;
	width: 9px;
	background-image: url(images/puse.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
#pix_pag_ul {
	float: right;
	padding: 0;
	margin-top: 0;
	margin-right: 30;
	margin-bottom: 0;
	margin-left: 0;
}
#pix_pag_ul > li {
	cursor: pointer;
	display: block;
	.display: inline-block;
	float: left;
	text-align: center;
	text-indent: -9999px;
	width: 16px;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 20px;
	padding-right: 1px;
	padding-bottom: 0;
	padding-left: 1px;
}
#pix_pag_ul > li > span {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	height: 11px;
	width: 11px;
	background-image: url(images/empty-c.jpg);
}
#pix_pag_ul > li:hover > span > span {
	background-color: #C1FFC1;
}
#pix_pag_ul > li > span > span {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	display: block;
	float: left;
	height: 10px;
	width: 10px;
}
#pix_pag_ul > li.diapocurrent > span > span {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	height: 11px;
	width: 11px;
	background-image: url(images/full-c.jpg);
}
#pix_pag_ul > li > .pix_thumb {
	border: 4px solid #f2f2f2;
	.border: 4px solid #e6e6e6;
	border: 4px solid #e6e6e6\9;
	-moz-box-shadow: 0 1px 8px #000;
	-webkit-box-shadow: 0 1px 8px #000;
	box-shadow: 0 1px 8px #000;
	height: 58px;
 	left: -17px;
	position: absolute;
	top: -40px;
	width: 58px;
}
#pix_pag_ul > li > .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid  #e6e6e6;
	top: 26px;
	left: 12px;
	position: absolute;
}
.pix_relativize {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.elemHover {
	position: absolute;
}
.caption {
	background: rgba(0, 0, 0, 0.8);





    .filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)\9;
	bottom: 20px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 20px;
	width: 450px;
	direction: rtl;
	font-family: Tahoma, Geneva, sans-serif;
}
.ui-loader {
	display: none;
}

.ul-all2 {
	color: #ffffff;
	text-decoration: none;
}

a.ul-all2:link {
	color: #ffffff;
	text-decoration: none;

	
}
a.ul-all2:visited {
	color: #ffffff;
	text-decoration: none;

	
	
}
a.ul-all2:hover {
	color: #ffffff;
	text-decoration: none;
	
}
